@model YackeenBlog.ViewModels.ArticleViewModel

@{
    ViewBag.Title = "Create";
}



    <form class="form-block mt-5"  method="post" action="Create">
        <div class="jumbotron">
                <div class="form-group col-md-4">
                    @Html.DropDownListFor(x => x.DomainModel.CategoryId, new SelectList(Model.Categories, "Id", "Name", Model.DomainModel.CategoryId), "select a category", new { @class = "form-control" })
                </div>                    
                <div class="form-group col-md-4">
                    @Html.TextBoxFor(m => m.DomainModel.Title, new {placeholder = "Title", @class = "form-control" })
                </div>
        </div>
        <div class="col-xs-12 pr-5 pl-5">
            <div class="form-group p-5">
                @Html.TextAreaFor(x => x.DomainModel.Content, new {rows=5, placeholder = "your text", @class = " form-control" })
            </div>
            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary pull-right">submit</button>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </form>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
