@model PagedList.IPagedList<YackeenBlog.Models.Article>
@using PagedList.Mvc;


@{
    ViewBag.Title = "Index";
}
<div class="container mt-5 pt-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="my-4">
                Yackeen Blog
                <small>Articles Collection</small>
            </h1>
            <p class="ml-5 text-gray">  You can sort articles by clicking on any header</p>
            

            @if (User.IsInRole("Admin"))
            {
                <div class="col-md-4 m-5">
                    <a href="@Url.Action("create","article")" class="btn mt-4 btn-primary">
                        Create New Article
                    </a>
                </div>
            }
            @using (Html.BeginForm())
            {
                <table id="articles" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                @Html.ActionLink("Title", "Index",
                                new { sortOrder = "Title", CurrentSort = ViewBag.CurrentSort })
                            </th>
                            <th>
                                @Html.ActionLink("Category", "Index",
                                new { sortOrder = "CategoryId", CurrentSort = ViewBag.CurrentSort })
                            </th>
                            <th>

                                @Html.ActionLink("Posted On", "Index",
                                new { sortOrder = "CreatedOn", CurrentSort = ViewBag.CurrentSort })
                            </th>


                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.Title, "Details",
                                        new { id = item.Id })
                                </td>
                                <td>
                                    @Enum.GetName(typeof(YackeenBlog.Models.CategoriesEnum), item.CategoryId)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedOn)
                                </td>

                            </tr>

                        }
                    </tbody>
                </table>
                <br />
                <div id='Paging' style="text-align:center">
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                    of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                </div>
            }
        </div>
    </div>
</div>

